body, html {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
  text-align: left;
}
nav {
  display: inline-block;
  background-color: #214055;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  height: 36px;
}
nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  line-height: 36px;
  height: 36px;
  font-weight: 600;
}
.input-container {
  display: inline-block;
  float: right;
  line-height: 36px;
  padding-right: 5px;
  position: relative;
  margin: 0;
}
.input-container input {
  padding-left: 12px;
  width: 200px;
}
.search_icon {
  position: absolute;
  left: 2px;
  top: 12px;
  height: 12px;
  width: 12px;
  z-index: 4;
}
.bordered {
  border: 1px solid #ededed;
}
.main-content {
  width: 100%;
  background-color: #eee;
  min-height: calc(100vh - 36px);
  position: relative;
  height: 100%;
}
.sub-content {
  margin-right: 8%;
  margin-left: 8%;
  min-height: calc(100vh - 36px);
  width: 80%;
  background-color: #fff;
  padding: 10px;
  position: relative;
  height: 100%;
  box-shadow: 2px 0 #eaeaea;
}
.menu-content {
  margin-right: 8%;
  margin-left: 8%;
  width: calc(80% + 20px);
  padding: 0 5px 0 0;
  height: 100%;
}
.recent-news {
  display: inline-block;
  margin: 10px 0;
  padding: 5px;
}
.recent-img {
  float: left;
  display: inline-block;
  margin: 0 20px 10px 0;
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
}
.recent-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
}
.img-description h4 {
  font-family: 'Pontano Sans', sans-serif;
  text-align: left;
  font-size: 12px;
  color: grey;
  text-transform: uppercase;
}
.img-description h2 {
  font-family: 'Ruda', sans-serif;
  font-size: 24px;
  color: #0f56a2;
  position: relative;
  text-align: left;
} 

.news-inner-text {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 10px;
  line-height: 20px; 
}
.early-news {
  display: inline-block;
  width: 35%;
  margin: 10px 10px;
  padding: 5px;
}
.title {
  font-family: 'Ruda', sans-serif;
  font-size: 24px;
  color: #0f56a2;
  position: relative;
  text-align: left;
}
.img {
  float: left;
  width: 100px;
  height: 100px;
  margin:0 10px 10px 10px;
}
.text{
  text-align: left;
  line-height: 22px;
  margin-top: 0;
}
.other-news-container {
  display: inline-block;
  margin: 10px 0;
  padding: 5px;
}
.other-news {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 10px 0;
  min-height: 300px;
  height: auto;
  width: 49%;
  vertical-align: top;
}
.other-news-header {
  display: block;
  text-align: left;
}
.other-news-header span {
  color: #203258;
  font-size: 16px;
}
.news-title {
  font-family: 'Ruda', sans-serif;
  color: #203258;
  font-size: 20px;
}
.other-news-content {
  display: block;
}
.other-news-content .recent-img {
  height: 100px;
  width: 45%;
}
.other-news-content .recent-img img {
  width: 100%;
}
.other-news-actions {
  text-align: right;
}
.other-news-actions button {
  color: #203258;
  font-weight: 600;
  background-color: white;
  border: 1px solid LightGrey;
}
.content-navigation-container {
  box-sizing: border-box;
  float: right;
  width: 34%;
  display: inline-block;
  position: relative;
}
.nav-list {
  display: inline-block;
  margin: 10px 0;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.list-title {
  box-sizing: border-box;
  width: 100%;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 5px;
}
.nav-list ul {
  margin: 0;
  padding: 0;
}
.nav-list ul li {
  box-sizing: border-box;
  padding: 0 5px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  color: darkgray;
  list-style-type: none;
  text-align: left;
  height: 36px;
  line-height: 36px;
}
.nav-list ul li a {
  color: darkgrey;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow:hidden !important;
  white-space: nowrap;
  width: 100%;
}
.new-content {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 65%;
}
.nav-list-side {
  box-sizing: border-box;
  display: inline-block;
  margin: 10px 0;
  position: relative;
  vertical-align: top;
  width: 49%;
}
.nav-list-side ul li {
  box-sizing: border-box;
  padding: 0 5px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  color: darkgray;
  list-style-type: none;
  text-align: left;
  height: 36px;
  line-height: 36px;
}
.list-title-side {
  box-sizing: border-box;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 5px;
}
.nav-list-side ul {
  margin: 0;
  padding: 0;
}
.nav-list-side ul li a {
  color: darkgrey;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow:hidden !important;
  white-space: nowrap;
  width: 100%;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.footer-container {
  display: inline-block;
  background-color: #214055;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
}
.footer-content {
  margin-right: 8%;
  margin-left: 8%;
  width: calc(80% + 20px);
  padding: 0 5px 0 0;
  height: 100%;
}
.footer-content-left, .footer-content-right  {
  color: #fff;
  font-size: 12px;
}
.footer-content-right  {
  float: right;
}